In [20]:
### 화면에 출력해줘....컴퓨터에게 요청(명령)하기위한 언어로 작성
print("hello python....^^")

# 샾을 주석이라고 합니다. (설명을 넣을 때 사용, 실행되지 않아요)
# <실행방법 3가지>
# - [Ctrl + Enter]
# - [Alt + Enter]
# - [Shift + Enter] : 가장 많이 사용하는 실행 단축키

hello python....^^

# 제목 넣기....

## 샾2개 제목

### 샵 3개...
#### 샵 4개....
##### 샵 5개.....
- 샵의 갯에 따라서 글자 폰트의 사이즈가 변경 됩니다.
- html을 알고계신 분들은 h1~h5 태그와 같다고 보시면 됩니다.

### 변수 정의하기

In [21]:
a = 32

In [22]:
print(a)

32

In [23]:
### 정수형 타입(int type)
a = 40

In [24]:
print(a)

40

In [25]:
### 실수형 타입 (float type)
a = 1.2
a

1.2

In [26]:
### 문자열 타입(str type)
a = "문자열 타입 str 입니다"
a

'문자열 타입 str 입니다'

In [27]:
### bool 타입
a = True
a = False

In [28]:
### 여러개의 값들을 관리하는 타입
# - 리스트(List) 타입 : 다양한 타입들을 콤마로 구분해서 관리할 수 있음
#    -- 대괄호로 묶어서 관리합니다. 묶음 자체를 메모리 주소로 관리합니다.
#    -- 리스트 안에 리스트를 넣을수도 있습니다.(다양한 타입을 넣을 수 있기 때문에)
a = [1, 2, 1.1, 2.22, "리스트 타입"]
b = [2, 3, a]
a, b

([1, 2, 1.1, 2.22, '리스트 타입'], [2, 3, [1, 2, 1.1, 2.22, '리스트 타입']])

In [29]:
a[2], a[0], a[4]

(1.1, 1, '리스트 타입')

In [30]:
a[0] = 5
a

[5, 2, 1.1, 2.22, '리스트 타입']

In [31]:
b

[2, 3, [5, 2, 1.1, 2.22, '리스트 타입']]

In [32]:
b[2], b[2][4]

([5, 2, 1.1, 2.22, '리스트 타입'], '리스트 타입')

In [33]:
### 반복문...여러번 반복하면서 수행해야 하는 경우에 사용
# - 반복문 : for문 이라고 칭합니다.
# - 작성 방법 : for 임의변수 in 반복범위(=반복패턴) :
# - range() 범위를 만들어 내는 기능(함수)
#   -- range(시작값, 끝값-1, 반복하면서 증가할 값)
#      --- 0부터 1씩 증가하면서 9까지 반복 하겠다는 의미
# - range(0, 10, 1)의 결과값은 --> [1, 2, 3, 4, 5, 6, 7, 8, 9]
# - for문의 반복은 리스트 안에 있는 인덱스 번호의 공간 갯수 만큼 반복함
# - 1번째 반복은 -> 리스트에서 0번째 인덱스의 값을 추출하여 -> i 변수에 넣어 줍니다.
for i in range(1, 10, 2) :
    print(i)

1
3
5
7
9

In [34]:
for i in a :
    print(i)

print(a, b)

5
2
1.1
2.22
리스트 타입
[5, 2, 1.1, 2.22, '리스트 타입'] [2, 3, [5, 2, 1.1, 2.22, '리스트 타입']]

In [35]:
name = ["홍길동", "이순신", "김유신"]
age  = [30, 40, 50]
addr = ["서울", "대전", "대구"]
name, age, addr
### key와 value로 관리하는 타입(여러개의 데이터를 저장할 수 있는 공간)
# -> 딕셔너리(dict) 타입 : 중괄호로 메모리를 관리 {key : value, key1 : value1....}
# -> 딕셔너리 안에 value 값으로 딕션너리 또는 일반변수 형태를 사용할 수 있음
a_dict = {"name" : name, "age" : age, "addr" : addr}
a_dict

{'name': ['홍길동', '이순신', '김유신'],
 'age': [30, 40, 50],
 'addr': ['서울', '대전', '대구']}

In [36]:
a_dict["name"], a_dict["name"][2]

(['홍길동', '이순신', '김유신'], '김유신')

In [37]:
### 튜플은 소괄호를 이용해서 값을 정의합니다.
a = (1, 2.2, "abc", a_dict)
a

(1,
 2.2,
 'abc',
 {'name': ['홍길동', '이순신', '김유신'],
  'age': [30, 40, 50],
  'addr': ['서울', '대전', '대구']})

In [40]:
a[2] = "dfg"

TypeError: 'tuple' object does not support item assignment

In [38]:
"""
<변수 타입 정의>
 1. 하나의 값만 저장할 수 있는 일반변수
  * 정수 타입(소숫점이 없음) : int
  * 실수 타입(소숫점이 있음) : float
  * 문자열 타입 : str
  * 참(True or 1)/거짓(False or 0) 타입 : bool

 2. 여러개의 값을 저장할 수 있는 변수
  * 리스트 타입 : 여러개의 값을 가지고 다님(타입은 무관)
               : 사용하는 기호는 -> 대괄호 [1, 1.4, "a", [], {}]
  * 딕셔너리 타입 : 여러개의 값을 가지고 다님(Key와 value 형태로 되어 있음)
                 : 사용하는 기호는 -> 중괄호 {"k1":"v1", "k2":[1, 2.2], "k3":{}}
  * 튜플 타입 : 여러개의 값을 가지고 다님(타입 무관) => 리스트와 동일
              : 단, 리스트와 차이점은 -> 값들 수정 불가
              : 사용하는 기호는 -> 소괄호 (1, 1.4, "a", [], {})
  
"""

'\n<변수 타입 정의>\n 1. 하나의 값만 저장할 수 있는 일반변수\n  * 정수 타입(소숫점이 없음) : int\n  * 실수 타입(소숫점이 있음) : float\n  * 문자열 타입 : str\n  * 참(True or 1)/거짓(False or 0) 타입 : bool\n\n 2. 여러개의 값을 저장할 수 있는 변수\n  * 리스트 타입 : 여러개의 값을 가지고 다님(타입은 무관)\n               : 사용하는 기호는 -> 대괄호 [1, 1.4, "a", [], {}]\n  * 딕셔너리 타입 : 여러개의 값을 가지고 다님(Key와 value 형태로 되어 있음)\n                 : 사용하는 기호는 -> 중괄호 {"k1":"v1", "k2":[1, 2.2], "k3":{}}\n  * 튜플 타입 : 여러개의 값을 가지고 다님(타입 무관) => 리스트와 동일\n              : 단, 리스트와 차이점은 -> 값들 수정 불가\n              : 사용하는 기호는 -> 소괄호 (1, 1.4, "a", [], {})\n  \n'

In [41]:
a_dict

{'name': ['홍길동', '이순신', '김유신'],
 'age': [30, 40, 50],
 'addr': ['서울', '대전', '대구']}

In [43]:
a_dict["age"], a_dict["name"]

([30, 40, 50], ['홍길동', '이순신', '김유신'])

In [46]:
for i in a_dict :
    print(i)

name
age
addr

In [47]:
### 딕셔너리에서 key값만 추출하기 : 리스트 타입으로 반환해 줍니다.
# keys() : 딕셔너리 내에서 key만 추출하는 기능을 수행함
a_dict.keys()

dict_keys(['name', 'age', 'addr'])

In [50]:
for i in a_dict.keys() :
    print(i, a_dict[i])

name ['홍길동', '이순신', '김유신']
age [30, 40, 50]
addr ['서울', '대전', '대구']

In [51]:
### values() : 딕셔너리 내에서 값들만 추출하는 기능을 수행
a_dict.values()

dict_values([['홍길동', '이순신', '김유신'], [30, 40, 50], ['서울', '대전', '대구']])

In [52]:
a_dict.items()

dict_items([('name', ['홍길동', '이순신', '김유신']), ('age', [30, 40, 50]), ('addr', ['서울', '대전', '대구'])])

In [55]:
for k, v in a_dict.items() :
    print(k, " : " ,v)

name  :  ['홍길동', '이순신', '김유신']
age  :  [30, 40, 50]
addr  :  ['서울', '대전', '대구']

In [68]:
### 조건 넣기 : if 사용
# 작성 방법 : if 조건 :
# "조건"으로 사용할 수 있는 방법 : 비교 연산자, 논리 연산자
# 비교 연산자 : 크다, 작다, 크거나 같다, 작거나 같다, 같다, 같지않다
#            :  >  ,  < ,     >=,      <=,         ==,   !=
#            : 기준값 > 비교값
# 논리 연산자 : 두개 이상의 조건을 모두 만족 해야할 경우 -> and
#            : 둘중 하나만 만족하면 되는 경우 -> or
#            : (기준값1 > 비교값1) and (기준값2 <= 비교값2)
aa = 50
bb = 60
aa1 = 55
bb1 = 66
### 조건문(if)
if aa > bb :
    print("if의 시작은 무조건 참인 조건인 경우만 수행됩니다.")
elif bb > bb1 :
    print("bb가 bb1보다 크네요.....")
elif (aa > bb) and (bb < bb1) :
    print(aa + aa1, bb + bb1)
elif (aa > bb) or (bb < bb1) :
    print(aa + aa1, bb + bb1)
else :
    print("위에서 참인 조건이 없을 때 무조건 실행하는 영역")

105 126

In [56]:
for k, v in a_dict.items() :
    print(k, " : " ,v)

    ## 조건 넣기 : if 사용

name  :  ['홍길동', '이순신', '김유신']
age  :  [30, 40, 50]
addr  :  ['서울', '대전', '대구']

In [ ]:
### 함수 : 특정 기능을 만들어 놓은 것
#        : 여러 곳에서 또는 너무 긴 연산처리 등이 수행될때 사용

### 클래스 : 여러 변수와 함수들을 모아놓은 것
#         : 특정 성격에 맞는 기능들을 보아서 하나로 관리할 때 사용

In [69]:
### 함수 정의하기
# - 함수를 정희할 때는 def로 시작
# def 함수이름(매개변수1, 매개변수2) :

def views() :
    ### 함수가 처리할 기능(프로그래) 수행 영역
    print("함수가 호출되었습니다.")

In [70]:
### 함수 호출하기 : 정의된 함수(기다리는 함수)를 불러서 사용하기
views()

함수가 호출되었습니다.

In [71]:
### 두개의 매개변수를 받아서 합한 값을 출력하는 기능을 수행하는 함수
def plus(p_a, p_b) :
    ### 함수가 처리할 기능(프로그래) 수행 영역
    total = p_a + p_b
    print("p_a + p_b = ", total)

In [72]:
### plus 함수 호출하기
# plus()함수가 2개의 매개변수를 받게 되어 있기에
#  --> 2개의 값을 넘겨 주면 됩니다. (이때 넘겨주는 값들을 인자값)
plus(44, 55)

p_a + p_b =  99

In [73]:
### 두개의 매개변수를 받아서 합한 값을 반환하는 기능을 수행하는 함수
def plus(p_a, p_b) :
    ### 함수가 처리할 기능(프로그래) 수행 영역
    total = p_a + p_b
    ### 처리된 결과값을 반환(return)하기
    # 함수를 호출한 쪽으로 반환
    return total

In [75]:
t = plus(100, 50)

In [76]:
t

150

In [77]:
def view(p) :
    print("값 출력하기 : ", p)

In [78]:
view(plus(200, 60))

값 출력하기 :  260

In [81]:
def view(p1, p2) :
    tt = plus(p1, p2)
    print("값 출력하기~~~~~~ : ", tt)

In [82]:
view(1000, 50)

값 출력하기~~~~~~ :  1050

In [83]:
### 기능들을 하나의 묶음으로 관리하고자 할때 -> 클래스 사용
# - 클래스 정의하기 : 클래스 이름의 첫글자는 대문자로 합니다.
# - 클래스 내부에서 함수 정의할 때는 매개변수 self를 필수로 사용
# - self : 클래스 자체의 메모리 대표 주소를 의미함
class Utils :
    def view(self, p) :
        print("값 출력하기 : ", p)

    ### 두개의 매개변수를 받아서 합한 값을 반환하는 기능을 수행하는 함수
    def plus(self, p_a, p_b) :
        ### 함수가 처리할 기능(프로그래) 수행 영역
        total = p_a + p_b
        ### 처리된 결과값을 반환(return)하기
        # 함수를 호출한 쪽으로 반환
        return total

    def view2(self, p1, p2) :
        tt = plus(p1, p2)
        print("값 출력하기~~~~~~ : ", tt)

In [89]:
### 클래스는 생성한다는 의미를 사용함 (호출의 개념이 아님)
# - 클래스는 생성할 때 --> 메모리가 만들어 집니다.

### 클래스 생성하기 : 이때 대표 클래스의 주소가 만들어짐
u = Utils()
u
u.view(100)
print(u.plus(20, 50))
u.view2(20, 50)

값 출력하기 :  100
70
값 출력하기~~~~~~ :  70