In [8]:
### 화면에 출력해줘....컴퓨터에게 요청(명령)하기위한 언어로 작성
print("hello python....^^")

# 샾을 주석이라고 합니다. (설명을 넣을 때 사용, 실행되지 않아요)
# <실행방법 3가지>
# - [Ctrl + Enter]
# - [Alt + Enter]
# - [Shift + Enter] : 가장 많이 사용하는 실행 단축키

hello python....^^

# 제목 넣기....

## 샾2개 제목

### 샵 3개...
#### 샵 4개....
##### 샵 5개.....
- 샵의 갯에 따라서 글자 폰트의 사이즈가 변경 됩니다.
- html을 알고계신 분들은 h1~h5 태그와 같다고 보시면 됩니다.

### 변수 정의하기

In [10]:
a = 32

In [11]:
print(a)

32

In [12]:
### 정수형 타입(int type)
a = 40

In [13]:
print(a)

40

In [14]:
### 실수형 타입 (float type)
a = 1.2
a

1.2

In [15]:
### 문자열 타입(str type)
a = "문자열 타입 str 입니다"
a

'문자열 타입 str 입니다'

In [ ]:
### bool 타입
a = True
a = False

In [23]:
### 여러개의 값들을 관리하는 타입
# - 리스트(List) 타입 : 다양한 타입들을 콤마로 구분해서 관리할 수 있음
#    -- 대괄호로 묶어서 관리합니다. 묶음 자체를 메모리 주소로 관리합니다.
#    -- 리스트 안에 리스트를 넣을수도 있습니다.(다양한 타입을 넣을 수 있기 때문에)
a = [1, 2, 1.1, 2.22, "리스트 타입"]
b = [2, 3, a]
a, b

([1, 2, 1.1, 2.22, '리스트 타입'], [2, 3, [1, 2, 1.1, 2.22, '리스트 타입']])

In [28]:
a[2], a[0], a[4]

(1.1, 1, '리스트 타입')

In [30]:
a[0] = 5
a

[5, 2, 1.1, 2.22, '리스트 타입']

In [31]:
b

[2, 3, [5, 2, 1.1, 2.22, '리스트 타입']]

In [34]:
b[2], b[2][4]

([5, 2, 1.1, 2.22, '리스트 타입'], '리스트 타입')

In [37]:
### 반복문...여러번 반복하면서 수행해야 하는 경우에 사용
# - 반복문 : for문 이라고 칭합니다.
# - 작성 방법 : for 임의변수 in 반복범위(=반복패턴) :
# - range() 범위를 만들어 내는 기능(함수)
#   -- range(시작값, 끝값-1, 반복하면서 증가할 값)
#      --- 0부터 1씩 증가하면서 9까지 반복 하겠다는 의미
# - range(0, 10, 1)의 결과값은 --> [1, 2, 3, 4, 5, 6, 7, 8, 9]
# - for문의 반복은 리스트 안에 있는 인덱스 번호의 공간 갯수 만큼 반복함
# - 1번째 반복은 -> 리스트에서 0번째 인덱스의 값을 추출하여 -> i 변수에 넣어 줍니다.
for i in range(1, 10, 2) :
    print(i)

1
3
5
7
9

In [46]:
for i in a :
    print(i)

print(a, b)

5
2
1.1
2.22
리스트 타입
[5, 2, 1.1, 2.22, '리스트 타입'] [2, 3, [5, 2, 1.1, 2.22, '리스트 타입']]

In [49]:
name = ["홍길동", "이순신", "김유신"]
age  = [30, 40, 50]
addr = ["서울", "대전", "대구"]
name, age, addr
### key와 value로 관리하는 타입(여러개의 데이터를 저장할 수 있는 공간)
# -> 딕셔너리(dict) 타입 : 중괄호로 메모리를 관리 {key : value, key1 : value1....}
# -> 딕셔너리 안에 value 값으로 딕션너리 또는 일반변수 형태를 사용할 수 있음
a_dict = {"name" : name, "age" : age, "addr" : addr}
a_dict

{'name': ['홍길동', '이순신', '김유신'],
 'age': [30, 40, 50],
 'addr': ['서울', '대전', '대구']}

In [52]:
a_dict["name"], a_dict["name"][2]

(['홍길동', '이순신', '김유신'], '김유신')

In [ ]:
"""
<변수 타입 정의>
 1. 하나의 값만 저장할 수 있는 일반변수
  * 정수 타입(소숫점이 없음) : int
  * 실수 타입(소숫점이 있음) : float
  * 문자열 타입 : str
  * 참(True or 1)/거짓(False or 0) 타입 : bool

 2. 여러개의 값을 저장할 수 있는 변수
  *
"""